doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "Chat Server Demo"

        link(href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet")
        link(href="/style.css" rel="stylesheet")
        
    body
        div.flex-center.position-ref.full-height
            div.content
                div.title.m-b-md= "Chat Server Application"
            